<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperatur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>
<body>

<div id="devselect">
    <form action="{{ url_for('button_clicked') }}" method="POST">
        <button type="submit" name="devid" id="dev101" value="104">TER</button>
        <button type="submit" name="devid" id="dev101" value="101">UBO</button>
        <button type="submit" name="devid" id="dev101" value="102">GJR</button>
        <button type="submit" name="devid" id="dev101" value="103">KON</button>
        <button type="submit" name="devid" id="dev101" value="105">bad</button>
        <button type="submit" name="devid" id="dev101" value="106">stu</button>
        <button type="submit" name="devid" id="dev101" value="107">SOV</button>
        <button type="submit" name="devid" id="dev101" value="201">GAR</button>
    </form>
</div>


<table>
<tr>

<td>
    <form action="{{ url_for('garageport_clicked') }}" method="POST">
        <button type="submit" name="garageport" id="garageportbutton" value="201">GARPORT</button>
    </form>
</td>

<td>
    <form action="{{ url_for('batmonitor_clicked') }}" method="POST">
        <button type="submit" name="batmonitor" id="batmonitorbutton" value="301">BAT mon</button>
    </form>
</td>

<td>
    <form action="{{ url_for('devices_clicked') }}" method="POST">
        <button type="submit" name="devices" id="devicesbutton" value="401">DEV</button>
    </form>
</td>

</tr>
</table>


<div id="dateselect">
    <form action="{{ url_for('date_select') }}" method="POST">
        <input type="hidden" name="dd2" id="dd3" value="{{ dateadjust }}" size="3">
        <input type="hidden" name="devid22" id="dd22" value="{{ devidselected }}" size="4">
        <label> {{ tempdag }} </label> <label> {{ sensorbeskrivelse }} </label>
        <button type="submit" name="dateselect" id="datebutton" value="10">Previus</button>
        <button type="submit" name="dateselect" id="datebutton" value="20">Today</button>
        <button type="submit" name="dateselect" id="datebutton" value="30">Next day</button>
    </form>
</div>

<div id="temperature">
<table>
  <tr>
    <th>Dato</th>
    <th>Tid</th>
    <th>Dev</th>
    <th>Temp</th>
    <th>Hum</th>
    <th>Bar</th>
    <th>Bot</th>
    <th>Sid</th>
    <th>Rst</th>
    <th>Vbat</th>
    <th>Perc</th>
    <th>Anv</th>
    <th>Rssi</th>
  </tr>
{% for item in all_data %}
  <tr>
    <td>{{ item[0] | datetimeformat("%d") }}</td>
    <td>{{ item[0] | datetimeformat("%H:%M:%S") }}</td>
    <td>{{ item[1] }}</td>
    <td class="temperaturedata">{{ "%.1f"|format(item[2]) }}</td>
    <td class="temperaturedata">{{ "%.0f"|format(item[3]) }}</td>
    <td class="temperaturedata">{{ "%.0f"|format(item[4]) }}</td>
    <td class="temperaturedata">{{ item[6] }}</td>
    <td class="temperaturedata">{{ item[7] }}</td>
    <td class="temperaturedata">{{ item[8] }}</td>
    <td class="temperaturedata">{{ "%.0f"|format(item[9]) }}</td>
    <td class="temperaturedata">{{ "%.1f"|format(item[10]) }}</td>
    <td class="temperaturedata">{{ "%.0f"|format(item[11]) }}</td>
    <td class="temperaturedata">{{ item[12] }}</td>
  </tr>
{% endfor %}
</table>
</div>

</body>
</html>
